In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:

df=pd.read_csv("train_loanPrediction.csv")

In [3]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df1=df.dropna()

In [5]:
df2=df1.drop(["Loan_ID"],axis=1)

In [6]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [7]:
df2['LGender'] = le.fit_transform(df2['Gender'].values.reshape(-1,1).ravel())
df2['LMarried']=le.fit_transform(df2['Married'].values.reshape(-1,1).ravel())
df2['LSelf_Employed']=le.fit_transform(df2["Self_Employed"].values.reshape(-1,1).ravel())
#df2['LLoan_Status']=le.fit_transform(df2["Loan_Status"].values.reshape(-1,1).ravel())
df2['LEducation']=le.fit_transform(df2["Education"].values.reshape(-1,1).ravel())
df2['LProperty_Area']=le.fit_transform(df2["Property_Area"].values.reshape(-1,1).ravel())

In [8]:
df2=df2.drop(["Self_Employed"],axis=1)
#df2=df2.drop(["Loan_Status"],axis=1)
df2=df2.drop(["Property_Area"],axis=1)
df2=df2.drop(["Married"],axis=1)
df2=df2.drop(["Gender"],axis=1)
df2=df2.drop(["Education"],axis=1)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
x=df2.iloc[:,df2.columns !='Loan_Status']
y=df2.iloc[:,df2.columns =='Loan_Status']

In [11]:
x.head(1)

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,LGender,LMarried,LSelf_Employed,LEducation,LProperty_Area
1,1.0,4583,1508.0,128.0,360.0,1.0,1,1,0,0,0

In [12]:
y.head(1)

  Loan_Status
1           N

In [13]:
lr=LogisticRegression(class_weight='balanced')

lr.fit(x,y)
y_predict=lr.predict(x)

c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy_score(y,y_predict)

0.775

In [17]:
import pickle

In [18]:
with open('project1.pkl','wb') as f:
    pickle.dump(lr,f)

In [19]:
df2['Loan_Status'].value_counts()

Y    332
N    148
Name: Loan_Status, dtype: int64

In [20]:
df2.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,LGender,LMarried,LSelf_Employed,LEducation,LProperty_Area
1,1.0,4583,1508.0,128.0,360.0,1.0,N,1,1,0,0,0
2,0.0,3000,0.0,66.0,360.0,1.0,Y,1,1,1,0,2
3,0.0,2583,2358.0,120.0,360.0,1.0,Y,1,1,0,1,2
4,0.0,6000,0.0,141.0,360.0,1.0,Y,1,0,0,0,2
5,2.0,5417,4196.0,267.0,360.0,1.0,Y,1,1,1,0,2

In [22]:
lr_model=pickle.load(open('project1.pkl','rb'))

lr_model.predict([[0.0,3000,0.0,66.0,360.0,1.0,1,1,1,0,2]])[0]

'Y'